@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Didact+Gothic|Fredericka+the+Great|Amatic+SC|Amatica+SC|Oswald|Hind|Montserrat|Josefin+Slab|Josefin+Sans');

gold {
  color: gold;
}

.gray { /*members */
  color: #a5a5a5;
}

body {
  font-family: 'Indie Flower', cursive;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Didact Gothic', sans-serif;

  background: #E8DFE0;
  background: -webkit-linear-gradient(#E8DFE0, tan);
  background: -o-linear-gradient(#E8DFE0, tan);
  background: -moz-linear-gradient(#E8DFE0, tan);
  background: linear-gradient(#E8DFE0, tan);
  opacity: 1;
}

p {
  font-size: 18px;
}

header {
  width: 100%;
  margin: 10px;
}

header h1 { /*NOTES of RANVIER*/
  font-family: 'Josefin Slab', serif;
  font-family: 'Amatic SC', serif;
  font-family: 'Fredericka the Great', cursive;

  font-weight: 700;
  text-align: center;
  background: url('img/neuron2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

header h3 { /*JHU CoEd Service A Cappella */
  font-family: 'Life Savers', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Amatica SC', cursive;
  letter-spacing: 4px;
  font-size: 25px;
  font-weight: bolder;
  position: relative;
  top: -10px;
}

.title {
  font-family: 'Josefin Slab', serif;
  font-family: 'Amatic SC', serif;
  font-family: 'Fredericka the Great', cursive;

  color: gold;
  font-size: 70px;
  position: relative;
  top: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.subtitle {
    padding: 5px;
    font-size: 40px;
    font-family: 'Amatica SC', cursive;
}

.navigation {
  position: relative;
  top: 20px;
  text-align: center;
  z-index: 1;
}

nav a {
  color: grey;
}

nav a:hover, .active {
  transition: all 1000ms ease;
  color: gold;
  text-decoration: none;
  z-index: 2;
  text-shadow: 1px 1px 2px black, 0 0 25px #2998E4, 0 0 5px darkblue;
}

/* FOOTER **/
footer {
  font-size: 10px;
  font-family: 'Amatica SC', cursive;
  padding: 20px 10px;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
footer ul {
  list-style: none;
}
footer li img {
  width: 32px;
  height: 32px;
}

/** Slider navigation **/
.item {
  height: 420px; /**CHANGE HEIGHT WHEN DIFFERENT SIZE SCREEN **/
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.item img {
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(-5px -5px 5px #222);
  width: 1000px;
}

.carousel-control.left, .carousel-control.right {
  z-index: 4;
  background-image: linear-gradient(45 deg, grey, transparent);
  /** background-image: none; **/
}

/**NEWS**/
section .row img {
  width: 100%;
}

/** MEMBERS**/
.team-member {
  margin: 15px 0;
}

.team-member figure {
  position: relative;
  overflow: hidden;
}

.team-member figure img {
  min-width: 100%;
}

.team-member figcaption p {
  font-size: 16px;
}

.team-member figcaption ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member figcaption ul {
  visibility: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
  display: inline-block;
  padding: 10px;
}

.team-member h4 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: bolder;
}

.team-member h3 { /*SINGING PART*/
  font-family: 'Amatica SC', cursive;
  font-weight: bold;
  font-size: 45px;
  color: #2998E4;
}

.team-member figcaption {
  padding: 10px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: 996;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
  visibility: visible;
  color: #fff;
  background: rgba(0, 0, 0, 0.5); /**rgba(230, 78, 62, 0.9);**/

  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
  color: rgba(49, 49, 49, .97);
}

.team-member figure img {
  -webkit-transform: scale(1) rotate(0) translateY(0);
  -moz-transform: scale(1) rotate(0) translateY(0);
  -o-transform: scale(1) rotate(0) translateY(0);
  -ms-transform: scale(1) rotate(0) translateY(0);
  transform: scale(1) rotate(0) translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
  -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
  -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
  -o-transform: scale(1.1) rotate(1deg) translateY(12px);
  -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
  transform: scale(1.1) rotate(1deg) translateY(12px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/** MEDIA **/
iframe {
  padding: 5px;
  border: 10px solid black;
  margin-top: 20px;
}

h2 {
  font-family: 'Amatica SC', cursive;
  font-weight: bold;
  font-size: 40px;
}

/* Normal Button */
button {
  display: inline-block;
  margin: 0.75rem;
  padding: 0.75rem 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 150ms ease-out;
  width: 300px;
  letter-spacing: 4px;
  font-weight: bold;
}

/* Outline Button */
button.outline {
  border: 3px solid gold;
  background-color: transparent;
}
button.outline:focus,
button.outline:hover {
  border-color: #gold;
  color: #gold;
  box-shadow: 0 0 0 0.1875rem white,
              0 0 0 0.375rem #2998E4;
  transition-duration: 500ms;
}


/** GALLERY V2**/
*,
*:before,
*:after {
  box-sizing: border-box;
}

label[for] {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.grid {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  overflow: auto;
  -webkit-transform: scale(0);
          transform: scale(0);
/**  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out; **/
  background: rgba(0, 0, 0, 0.5);
}
.lightbox img {
  z-index: 50;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 96%;
  max-height: 96%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"]:checked + .lightbox {
  -webkit-transform: scale(1);
          transform: scale(1);
}

input[type="checkbox"]:checked ~ .grid {

  opacity: .125;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  height: 100%;
  padding: 16px;
  overflow: auto;
  z-index: 0;
  text-align: center;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}
.grid .grid-item {
  display: block;
  width: 25%;
  padding: 16px;
  opacity: .7;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.grid .grid-item:hover {
  opacity: 1;
}
@media screen and (max-width: 1280px) {
  .grid .grid-item {
    width: 33.3333%;
  }
}
@media screen and (max-width: 960px) {
  .grid .grid-item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .grid .grid-item {
    width: 100%;
  }
}
.grid img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.audition img {
  max-width: 100%;
  margin: auto;
}
