body {
font-family: 'Life Savers', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 300;
  background: #E8DFE0;
  background: -webkit-linear-gradient(#E8DFE0, tan);
  background: -o-linear-gradient(#E8DFE0, tan);
  background: -moz-linear-gradient(#E8DFE0, tan);
  background: linear-gradient(#E8DFE0, tan);
}

header {
  width: 100%;
  margin: 10px;
}

footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 700;
  text-align: center;
  background: url('img/neuron2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

header h3 {
  font-family: 'Life Savers', cursive;
  font-weight: bolder;
}

gold {
  color: gold;
}

.col-sm-6 {
  font-family: 'Fredericka the Great', cursive;
  color: gold;
  font-size: 70px;
  position: relative;
  top: 40px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.navigation {
  position: relative;
  top: 20px;
  text-align: center;
  z-index: 1;
}

nav a {
  color: grey;
}

nav a:hover,
.active {
  transition: all 1000ms ease;
  color: gold;
  text-decoration: none;
  z-index: 2;
  text-shadow: 2px 2px 5px teal;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}
.col-md-6 {
  margin: 0 0 30px;
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}
.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}
footer {
  font-size: 12px;
  padding: 20px 0;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
footer ul {
  list-style: none;
}
footer li img {
  width: 32px;
  height: 32px;
}

/** Slider navigation **/
.item {
  height: 420px;
  text-align: center;
  border-bottom: 1px solid #ddd;

}

img {
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(-5px -5px 5px #222);
  width: 1000px;
}

.carousel-control.left, .carousel-control.right {
  z-index: 4;
  background-image: linear-gradient(45 deg, grey, transparent);
  /** background-image: none; **/
}
/**
.carousel-caption {
    background: rgba(0, 0, 0, 0.15);
    width: 100%;
    left: 0;
    bottom: -10px;
}
**/

/**
.slider-nav {
  text-align: center;
  margin-top: 20px;
}
.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}
.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}
.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}
.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}
.slider-dots li.active-dot {
  color: #363636;
}
**/
/* Carousel */
/**
.slider {
  position: relative;
  width: 100%;
  height: 470px;
  border-bottom: 1px solid #ddd;
  top: 20px;
}
.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.active-slide {
  display: block;
}
.slide-copy h1 {
  color: #363636;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}
.slide-copy h2 {
  color: #b7b7b7;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 5px;
}
.slide-copy p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 16px;
}
.slide-img {
  text-align: right;
}
**/
/* Slide feature */
/**.slide-feature {
  text-align: center;
  background-image: url('https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/12744763_10207060931256156_7307036389499684663_n.jpg?oh=ca9c8e55ca604bd4b5c188dc5f637b3a&oe=581EBB48');
  height: 470px;
  background-position: 0px 10px;
}
.slide-feature img {
  margin-top: 112px;
  margin-bottom: 28px;
}
.slide-feature a {
  display: block;
  color: #6fc5e0;
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
**/
/* App links */
.get-app {
  list-style: none;
  padding-bottom: 9px;
  padding-left: 0px;
  padding-top: 9px;
}
.get-app li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}
.get-app img {
  height: 40px;
}
